header p {
  color: lightyellow;
  margin-bottom: 0px;
}

.decorative-strips {
  background-color: moccasin;
}

.title {
  font-size: 3rem;
}

.logo {
  border-color: moccasin;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
  height: 7rem;
  width: 7rem;
}
