header p {
  color: lightyellow;
  margin-bottom: 0px;
}

.decorative-strips {
  background-color: moccasin;
}

.logo {
  box-sizing: content-box;
  height: 6rem;
  width: 6rem;
}

.user-context {
  color: moccasin;
}
